#tdd {
  padding: 0px;
  margin: 0px;
  background: url("../assets/bg.jpg");
  font-family: Inter;
}

.form_card {
  background: #fff;
  width: 320px;
  margin: 30px auto 20px;
  padding: 40px 20px 20px 20px;
  border-radius: 5px;
}

.form_card .caption {
  color: #353edf;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0 7px;
}
.form_card .description {
  color: rgba(19, 7, 62, 0.5);
  font-size: 12px;
}

.form_card form {
  text-align: left;
}

.form_card form label {
  color: #13073e;
  font-size: 12px;
}

.form_card form input {
  height: 40px;
}

.form_card form input.email_input {
  width: 100%;
  margin-top: 10px;
  padding-left: 20px;
  border: 1px solid #979797;
  border-radius: 8px;
}

.input-group {
  margin-bottom: 20px;
}

.submit-btn {
  width: 100%;
  background: rgba(106, 176, 76, 0.1);
  color: rgba(106, 176, 76, 1);
  border: unset;
  border-radius: 8px;
}

.submit-btn:hover {
  background: rgba(106, 176, 76, 0.5);
}

.key {
  width: 150px;
  height: 150px;
}

.main-container {
  margin: 100px auto;
  width: max-content;
  text-align: center;
}

.logo {
  width: 120px;
  height: 30px;
}

.bottom-links,
.bottom-links a {
  color: #ffffff;
}

.bottom-links a {
  text-decoration: none;
}

.bottom-links a:hover {
  color: black;
  background: white;
}

/* .list {
  color: #fff;
}

.list li:first-child {
  font-weight: 700;
} */

@media only screen and (max-width: 768px) {
  .main-container .form_card {
    background-color: red;
  }
  .form_card label {
  }
}

@media only screen and (max-width: 425px) {
  .main-container .form_card {
    background-color: blue;
  }
}
